<?xml version="1.0" encoding="utf-8"?>
<!--
  插件模块的 AndroidManifest（由 AGP 编译，namespace 在 plugin/build.gradle 中声明）。
  插件的 Activity 由宿主通过 manifest 预注册的同名类名启动，插件 APK 本身不独立安装。
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.plugin.sdk.plugin">

    <application>
        <activity
            android:name="com.plugin.sdk.plugin.PluginActivity"
            android:exported="false" />
    </application>

</manifest>
